/*전체 영역을 톧틀어서 스타일 정의*/
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
* {
  font-family: "Nanum Gothic";
}
.jumbotron {
  background-image: url(images/myPageBackground.jpg);
  background-size: cover;
  text-align: center;
  text-shadow: black 0.2em 0.2em 0.2em;
  color: white;
  border-radius: 1ch;
}
.navbar-brand {
  font-weight: 600;
}

.panel {
  border: 2px solid #b1b3b9;

  border-radius: 0.5ch;
}
.panel-heading {
  border-radius: 0.25ch;
}

a {
  color: #000000;
  text-decoration: none;
}
a:hover {
  color: #bbbbbb;
  text-decoration: none;
  cursor: pointer;
}

/* 내비게이션 영역 */
